/bin
/lib
/__pycache__
/output
/.vscode
/share
/content
file-generator/firebase-remote-db/brine-599f1-firebase-adminsdk-gw1vi-af9879964f.json
file-generator/firebase-remote-db/pyrebase-config.json
file-generator/local-db/local-db.json